<!DOCTYPE html>
<html lang="en" ng-app="tasks">
    <head>
        <meta charset="utf-8">
        <title>Tasks</title>
        <link rel="stylesheet" href="bower_components/bootstrap/dist/css/bootstrap.min.css">
        <link rel="stylesheet" href="css/tasks.css">
        <script src="bower_components/angular/angular.min.js"></script>
        <script src="bower_components/angular-bootstrap/ui-bootstrap-tpls.js"></script>
        <script src="js/tasks.js"></script>
    </head>
    <body ng-controller="tasksController" class="container-fluid">
        <div ng-hide="currentUser">
            <label>Choose Your User
                <select class="form-control" ng-model="currentUser" ng-options="user as user.email for user in users"></select>
            </label>
        </div>
        <div class="row" ng-show="currentUser">
            <div class="col-md-3">
                <table class="table">
                    <thead>
                        <tr>
                            <th>User</th>
                            <th>Today</th>
                            <th>Last 7 Days</th>
                            <th>Total</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr ng-repeat="user in users | orderBy:'-score'" ng-class="{ active : user.email === currentUser.email }">
                            <td>{{ user.email }}</td>
                            <td>{{ user | score:'today' }}</td>
                            <td>{{ user | score:'7days' }}</td>
                            <td>{{ user | score:'alltime' }}</td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <div class="col-md-9">
                <table class="table">
                    <thead>
                        <tr>
                            <th colspan="2">
                                <div class="form-group">
                                    <label>Filter</label>
                                    <input autofocus class="form-control" type="text" ng-model="filter">
                                </div>
                            </th>
                            <th>
                                <div class="form-group">
                                    <label>Last Completed</label>
                                    <select
                                        class="form-control"
                                        ng-model="filLastCom"
                                        ng-options="filter.value as filter.label for filter in lastComFils"
                                    ></select>
                                </div>
                            </th>
                            <th>
                                <div class="form-group">
                                    <label>Available</label>
                                    <select
                                        class="form-control"
                                        ng-model="filAvail"
                                        ng-options="filter for filter in availFilter"
                                    ></select>
                                </div>
                            </th>
                        </tr>
                        <tr>
                            <th class="task-name">Name</th>
                            <th class="task-score">Score</th>
                            <th class="task-last-completed">Last Completed</th>
                            <th class="task-complete">Complete</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr
                            ng-repeat="task in tasks | nextTask | filter:filter | lastComplete:filLastCom | available:filAvail"
                            task-display
                            task="task"
                            user="currentUser"
                            ng-style="{ 'background-color' : colorTask(task) }"
                        ></tr>
                    </tbody>
                    <tfoot>
                        <td><input class="form-control" type="text" ng-model="newTask.name" placeholder="Name"></td>
                        <td><input class="form-control" type="number" ng-model="newTask.score" placeholder="Score"></td>
                        <td>
                            <select class="form-control" ng-model="newTask.frequency" ng-options="frequency.value as frequency.label for frequency in frequencies">
                                <option value="">Frequency</option>
                            </select>
                        </td>
                        <td><button class="btn btn-primary" ng-click="addTask(newTask)" ng-disabled="!newTask.name || !newTask.frequency || !newTask.score">Add Task</button></td>
                    </tfoot>
                </table>
            </div>
        </div>
    </body>
</html>
